<h1>Create Goal</h1>

<form action="<%= goals_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="#{form_authenticity_token}">
  <label>Title
    <input type="text" name="goal[title]" value="<%= @goal.title %>">
  </label>

  <label>Description
    <input type="text" name="goal[description]" value="<%= @goal.description %>">
  </label>

  <label>Completed?
   <select name="goal[completed]">
     <option value="completed">Completed</option>
     <option value="incomplete">Incomplete</option>
   </select>
  </label>

  <label>Private?
    <input type="checkbox" name="goal[privacy]" <%= 'checked' if @goal.privacy %>>
  </label>


  <input type="submit" value="Create Goal">
</form>
